.headersContainer{
    background-color: #487eb0;
    /* border: 2px solid black; */

    min-height: 4em;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    
    /* position: fixed; */

    -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.66);
    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.66);
}



/* DROPDOWN */
.dropdown{
    position: relative;
    display: inline-block;
}

.imgMenu{
    width: 25px;

    color: white;
    border: none;
    cursor: pointer;
    
    /* transition: transform 0.3s;
    transform: rotate(90deg); */
    /* border: 1px solid white; */
}

.rotate {
    transition: transform 0.9s;
    transform: rotate(-180deg);
}

.rotate2 {
    transition: transform 0.5s;
    transform: rotate(-360deg);
}

.NavLinks{
    text-decoration: none;
    color: black;

    font-weight: bolder;
    font-size: 15px;

    width: 100%;


    display: flex;
    justify-content: space-between;
    align-items: center;

}


@keyframes scale-up-horizontal-left {
    0% {
        transform: scaleX(0);
        transform-origin: left center;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left center;
    }
}

@keyframes scale-up-horizontal-right {
    0% {
        transform: scaleX(1);
        transform-origin: left center;
    }
    100% {
        transform: scaleX(0);
        transform-origin: left center;
    }
}

.openAnimation {
    animation: scale-up-horizontal-left 0.9s;
}

.closeAnimation {
    animation: scale-up-horizontal-right 0.9s;
}

.content_dropdown{
    display: block;
    position: absolute;
    top: 4.5em;
    right: -15em;
    
    background-color: #f9f9f9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 230px;
    min-height: 100%;

    border: none;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */

    z-index: 999;
}



.content_dropdown span {
    color: black;
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #eee;
    width: 100%;
    
    cursor: pointer;
}

.content_dropdown span:hover{
    background-color: #487eb0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


/* ................................................................... */


.content_dropdown2{
    display: inline-block;
    position: absolute;
    top: 4.5em;
    /* left: 0; */
    right: -8em;
    
    background-color: #f9f9f9;
    /* background-color: red; */

    
    min-width: 150px;
    min-height: 100%;

    border: none;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}


.content_dropdown2 span {
    color: black;
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    cursor: pointer;
}





/* TITLE PAGE */
.title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    display: flex;
    flex-direction: column;
}

.title_1{
    /* border: 1px solid red; */

    width: fit-content;
    height: fit-content;

    position: relative;
    bottom: -5px;
    
    padding: none;
    margin: none;
}

.title_2{
    /* border: 1px solid greenyellow; */

    width: fit-content;
    height: fit-content;
    
    position: relative;
    top: -5px;
    left: 20px;
    left: 25%;
    
    padding: none;
    margin: none;
}

.Contenedor{
    display: flex;

    /* border: 1px solid yellow; */
}

/* LOGIN */

.imgLogin{
    display: flex;

    margin-top: 25%;
    
    width: 30px;
    height: 30px;

    /* margin-right: 30px; */
}

.imgLogin2{
    width: 30px;
    height: 30px;

    margin-right: 30px;
}

/* CARTS */

.containerCarts{
    display: flex;
    
    cursor: pointer;

    /* border: 1px solid white; */
}

.countCarts{
    display: flex;

    width: fit-content;
    /* height: 40px; */

    padding: none;
    
    /* border: 1px solid red;  */
}

.imgCart{
    display: flex;
    justify-content: flex-end;
    width: 30px;

    cursor: pointer;

    /* border: 1px solid green; */

    padding: none;
    margin: 0;

}

.count{
    text-decoration: none;
    color: black;
    
    display: flex;
    align-items: flex-start;

    font-size: 10px;
    font-weight: bold;

    width: fit-contents;
    height: 40px;

    /* border-radius: 50%; */
    /* background-color: #eee; */
}