.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Headers {
  height: auto;
  order: 1;
}

.Carrusel{
  height: auto;

  order: 2;
}


.content {
  flex: 1; /* Esta regla hace que el contenido (content) ocupe el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;

  order: 3;
}

.Footer {
  height: auto;

  order: 4;
}
