.Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Headers {
  height: auto;
  width: 100%;
  
  
  position: fixed;
  z-index: 999;
  
  order: 1;
}

.Carrusel{
  height: auto;
  /* margin-top: 5em; */

  order: 2;
}

.Filters{
  order: 3;
}


.content {
  flex: 1; /* Esta regla hace que el contenido (content) ocupe el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;

  order: 4;
}

.Footer {
  height: auto;

  order: 5;
}
